@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
}

header{
    background-color: brown;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
}
header a{
    color: white;
}
header div{
    display: flex;
    align-items: center;
    gap: 4rem;
}
header div img{
    width: 5rem;
}
header div nav ul{
    display: flex;
    gap: 2rem;
}
header a:hover{
    text-decoration: underline;
}